<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="{{ '/assets/img/main_img1.webp' | relative_url }}"/>
    <!-- <div class="text">Caption Text</div> -->
  </div>
  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="{{ '/assets/img/main_img2.webp' | relative_url }}"/>
    <!-- <div class="text">Caption Two</div> -->
  </div>
  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="{{ '/assets/img/main_img3.webp' | relative_url }}"/>
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="{{ '/assets/img/main_img4.webp' | relative_url }}"/>
    <!-- <div class="text">Caption Three</div> -->
  </div>
</div>
<br />
<script type="text/javascript" src="{{'/assets/js/slideshow_script.js' | relative_url }}">
  showSlides();
</script>
