*{
    font-family: "Nanum Gothic Coding", 'Nanum Gothic', sans-serif, monospace !important;
}

body {
    // font-family: "Nanum Gothic Coding", 'Nanum Gothic', sans-serif, monospace;
    font-size: 18px;
    color: #515151;
    line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: "Nanum Gothic Coding", 'Nanum Gothic', sans-serif, monospace;
    color: #333;
}